<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="APITest.tests.Tests_GET"/>
      <class name="APITest.tests.Tests_PATCH"/>
      <class name="APITest.tests.Tests_DELETE"/>
      <class name="APITest.tests.Test01_GET"/>
      <class name="APITest.tests.Tests_POSTS"/>
      <class name="APITest.tests.Tests_PUT"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
